<div class="row well">

  <h2>¿No pudiste confirmar tu cuenta?</h2>
  <p>No te preocupes. Te volveremos a enviar las instrucciones para que confirmes la cuenta.</p>

  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.submit "Aceptar", :class=>"btn btn-primary" %></div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>