<div class="row well sign-up">

  <div class="span5">

    <h2>Registrate!</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }) do |f| %>
      <%#= devise_error_messages! %>

      <%# if resource.errors[:email].present? %>
        <!--El email ya se encuentra registrado en nuestra base de datos.-->
      <%#end%>

      <div><%= f.label :email, "Email" %>
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password, "Contraseña" %>
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation, "Confirmar contraseña" %>
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Aceptar", :class=>"btn btn-success" %></div>
    <% end %>

    <%= render "devise/shared/links" %>


  </div>

  <div class="span3">
    <a href="/auth/facebook" class="btn btn-primary btn-large">Iniciar sesión con Facebook
    </a>
  </div>
</div>