<% if @event == "search_by_textfield" || (@event == "search_by_city" && @in_city)%>
  <div class="row results-for-keyword">
    Resultados para "
    <% if @in_city %>
      <span><%= @keyword_search %></span> " en <span><%= @city.name %></span>: <span>(<%= @size_res %>)</span>
    <% else %>
      <span><%= @keyword_search %></span> ": <span>(<%= @size_res %>)</span>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class="span3">
    </div>
    <div class="span9 breadc">
      <%= render_breadcrumbs %>
    </div>
  </div>

<% end %>
  <% if @publications.any? %>
    <div class="sort-options">
      <div class="span9">
        Ordenar por:
        <%= link_to "Menor precio", order_path(:sort=>"less-price"), :class=>"#{'selected-order' if @less_price}" %>
        |
        <%= link_to "Mayor precio", order_path(:sort=>"high-price"), :class=>"#{'selected-order' if @high_price}" %>
        |
        <%= link_to "Más reciente", order_path(:sort=>"date"), :class=>"#{'selected-order' if @date}"  %>
      </div>
    </div>
  <% end%>