<% if @event == "search_by_textfield" || (@event == "search_by_city" && @in_city)%>
  <div class="row results-for-keyword">
    Resultados para "
    <% if @in_city %>
      <span><%= @keyword_search %></span> " en <span><%= @city.name %></span>: <span>(<%= @publications.size %>)</span>
    <% else %>
      <span><%= @keyword_search %></span> ": <span>(<%= @publications.size %>)</span>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class="span3">
    </div>
    <div class="span9 breadc">
      <%= render_breadcrumbs %>
    </div>
  </div>
<% end %>
