<div class="select_category well">

  <%= semantic_form_for @publication, url: wizard_path, :html => {:multipart => true} do |f| %>
    <h2>Seleccioná la categoría</h2>

    <div class="accordion" id="accordion2">
      <% @categories.each_with_index do |category, i|%>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= set_collapse_number(i) %>">
              <%= category.info[:name] %>
            </a>
          </div>
          <div id="<%= set_collapse_number(i) %>" class="accordion-body collapse accordion-sub-categories">
            <div class="accordion-inner">
              <% category.info[:sub_categories].each do |sub_category| %>
                <div>
                  <p style="width: 185px; float: left; font-size: 15px; margin: 0;"><%= link_to sub_category.info[:name], "#", :class=>"new-publication-category", :sub_cat_id => sub_category.id, :style=>"font-size: 13px;" %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <%= f.input :sub_category_id, :id=>"sub_category_selected" %>
    </div>

  <% end %>
  <div class="actions">
    <%= link_to "Volver", new_publication_path, :class=>"btn btn-primary" %>
  </div>

</div>