<div class="put_details well">

  <%= semantic_form_for @publication, url: wizard_path do |f| %>
    <h2>Completá la información</h2>
    <!-- ########################################### -->
    <!-- ########## PARA VALIDAR EL PRECIO ######### -->
    <!-- <input type="text" pattern="\d+(\.\d{2})?"> -->
    <!-- ########################################### -->

    <%= f.semantic_errors %>
    <%= f.inputs do %>
      <%= f.input :title, :label=>"Título", :input_html => { :class => 'alejandro'} %>
      <div class="price-and-currency">
        <%= f.label :price, "Precio" %>
        <%= f.input :currency, :collection => [["Pesos","pesos"], ["Dólares","dolares"]], :label=>false, :prompt=>" - Seleccione -"%>
        <%= f.input :price, :label=>false %>
      </div>
      <% if @publication && @publication.sub_category.category.key == "vehiculos_y_accesorios" %>
        <%= render :partial => "vehiculos_details", :locals=>{:form=>f} %>
      <% end %>
      <div class="description-rich">
        <%= f.label :description, "Descripción"%>
        <%= f.input :description, :as => :rich, :label=>false%>
      </div>
      <%= f.input :condition, :label=>"Condición", :as => :radio, :collection=>[["Nuevo","nuevo"], ["Usado","usado"]] %>
      <%= f.input :i_am, :collection => ["Particular", "Empresa"], :label=>"Soy", :prompt=>" - Seleccione -" %>
      <%= f.input :phone, :label=>"Teléfono" %>
    <% end %>
    <%= f.actions do %>
      <%= f.submit %>
    <% end %>
  <% end %>

  <input type='file' name='file_upload' id='multifile-uploader' />

</div>



<!-- 
  # SI ES NAUTICA, UN SELECT QUE SE LLAME nautica_categoria y muestre las que estan en el seed la marca la ponen ellos.
  # En casillas y casas rodantes la marca la ponen ellos
  # En Motos y cuatriciclos las categorias van listadas en el seed
  # En aviones y avionetas la marca la ponen ellos

  NAUTICA CATEGORIAS
  botes
  canoas
  cruceros
  embarcaciones a vela
  gomones
  kayak
  lanchas
  motos de agua
  semirígidos
  otros

-->