<%= semantic_form_for @publication, url: wizard_path do |f| %>
  <h1>PASO 3 de 3</h1>
  <h2>Completá la información</h2>

  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :currency, :collection => ["Pesos", "Dólares"] %>
    <%= f.input :description %>
    <%= f.input :i_am, :collection => ["Particular", "Empresa"] %>
    <%= f.input :phone %>
  <% end %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>