<h2>Ciudades Principales</h2>
<div class="main-cities">
  <div class="row">
    <ul class="nav nav-pills">
      <li><%= link_to "Trelew", search_path(:event => "search_by_city", :city => "trelew") %></li>
      <li><%= link_to "Puerto Madryn", search_path(:event => "search_by_city", :city => "puerto_madryn") %></li>
      <li><%= link_to "Comodoro Rivadavia", search_path(:event => "search_by_city", :city => "comodoro_rivadavia") %></li>
    </ul>
  </div>


  <div class="row">
    <ul class="nav nav-pills">
      <li><%= link_to "Playa Unión", search_path(:event => "search_by_city", :city => "playa_union") %></li>
      <li><%= link_to "Esquel", search_path(:event => "search_by_city", :city => "esquel") %></li>
      <li><%= link_to "Rawson", search_path(:event => "search_by_city", :city => "rawson") %></li>
    </ul>
  </div>


  <div class="row">
    <ul class="nav nav-pills">
      <li><%= link_to "Sarmiento", search_path(:event => "search_by_city", :city => "sarmiento") %></li>
      <li><%= link_to "Lago Puelo", search_path(:event => "search_by_city", :city => "lago_puelo") %></li>
      <li><%= link_to "Gaiman", search_path(:event => "search_by_city", :city => "gaiman") %></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="span2">
    <%#= link_to "Ver más ciudades", "#" %>
    <% @cities.each_slice(2) { |a, b| puts "#{a}, #{b}" } %>
    <%# @cities.each_slice(130) do |city| %>
    <div class="row">
      <%# city.each do |c| %>
        <!--ALEJANDRO-->
      <% #end %>
    </div>
    <%# end %>
  </div>
</div>


    



<a href="#myModal" role="button" data-toggle="modal">Ver más ciudades</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ver clasificados en la ciudad:</h3>
  </div>
  <div class="modal-body">
    <% @cities.each_with_index.each_slice(4) do |(a, i), (b,j), (c,k)| %>
      <div class="row">
        <div class"all-cities-modal"><%= a.name %></div> 
        <div class"all-cities-modal"><%= b.name %></div> 
        <div class"all-cities-modal"><%= c.name %></div> 
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>