

<%= content_for :left_column do %>




<div class="last-publications">
  <p class="lbl">Últimos clasificados</p>


  <div class="navs-slider">
    <a id="nav-slider-left-prev" href="#"><%=image_tag "nav-prev.png", :class=>"prev"%></a>
    <a id="nav-slider-left-next" href="#"><%=image_tag "nav-next.png", :class=>"next"%></a>
  </div>


  <div id="slider-left">

    <% @last_publications.each_with_index do |publication| %>
  
      <ul class="thumbnails">
        <li class="">
          <div class="thumbnail" href="#">
            <p class="city"><%= publication.info[:city] %></p>
            <div class="navs">
              <%= link_to(image_tag("ballena.jpg"), show_one_publication_path(publication), :class=>"image") %>
            </div>
            <p><%= link_to publication.info[:title], show_one_publication_path(publication) %></p>
            <p class="price"><%= set_currency(publication.info[:currency]) %><%= publication.info[:price] %></p>
          </div>
        </li>
      </ul>

      
    <% end %>

  </div>


  
</div>




  <div class="how-to-publicate">
    <ul>
      <li><p>¿Cómo publicar un clasificado?</p></li>
      <li>1. Registrate</li>
      <li>2. Registrate</li>
    </ul>
  </div>

  <div class="how-to-buy">
    <ul>
      <li><p>¿Cómo Comprar?</p></li>
      <li>1. Utilizá nuestra barra de búsqueda</li>
      <li>2. Elegí el que más te gusta</li>
    </ul>    
  </div>
  



<% end %>

<div class="cities well">
  <%= render :partial => "cities" %>
</div>

<div class="categories">
  <%= render :partial => "categories" %>
</div>
