<div class="title"><%= @publication.info[:title] %></div>
<div class="left">

    <div class="navs-slider">
      <a id="nav-slider-left-prev" href="#"><</a>
      <a id="nav-slider-left-next" href="#">></a>
    </div>

  <div class="images">
    <div class="current">
      <div id="slider-left">
        <%# @publication.images.each do |image| %>
        <% 1.times.each_with_index do |time, index| %>
        
            <ul class="thumbnails">
              <li class="">
                <div class="thumbnail" href="#">
                  <div class="navs">
                    <% if index == 0 %> 
                      <%= image_tag("image1.jpg", :class=>"current-image", :id=>"big-"+index) %>
                    <% else %>
                      <%= image_tag("image1.jpg", :class=>"big not-current-image", :id=>"big-"+index) %>
                    <% end %>
                  </div>
                </div>
              </li>
            </ul>

        <% end %>
      </div>
    </div>

    <div class="others">
      <% 4.times.each_with_index do |time, index| %>
        <%= link_to(image_tag("image1.jpg"), "#", :class=>"other-image", :id=>"#{index}") %>
      <% end %>
    </div>

  </div>
  
    
  <div class="description">
    <%= safe(@publication.info[:description]) %>
  </div>
  <div class="contact-seller">
    <%= link_to "Contactar al vendedor", "#", :class=>"btn btn-primary" %>
  </div>
</div>
<div class="right">
  <div class="main-details">
    <p><%= @publication.info[:currency] %></p>
    <p><%= @publication.info[:price] %></p>
    <p><%= @publication.info[:city] %></p>
    <p><%= @publication.info[:condition] %></p>
    <p><%= @publication.info[:i_am] %></p>
  </div>
  <% if @publication.info[:type] == "VehiculosPublication" %>
    <div class="main-details">
      <p><%= @publication.info[:currency] %></p>
      <p><%= @publication.info[:price] %></p>
      <p><%= @publication.info[:city] %></p>
      <p><%= @publication.info[:condition] %></p>
      <p><%= @publication.info[:i_am] %></p>
    </div>
  <% end %>
</div>
