<% content_for :search_criteria do %>
  <%= render :partial => "shared/search_criteria"%>
<% end %>

<% content_for :left_column do %>
  <% if @event == "search_by_city" %>
    <%= render :partial => "shared/left_column_when_city" %>
  <% elsif @event == "search_by_subcategory" %>
    <%= render :partial => "shared/left_column_when_subcategory" %>
  <% end %>
<% end %>

<div class="show-publications">
    <% @publications.each do |publication| %>
      <div class="divider"></div>
      <div class="row">
        <div class="span3 image">
          <%= link_to(image_tag("logo1.jpg", :class=>"img-polaroid"), "#") %>
        </div>
        <div class="span4 details">
          <div class="row title">
            <%= link_to(publication.info[:title], "#") %>
          </div>
          <div class="row">
            <%= link_to(truncate(publication.info[:description], :length=>300), "#") %>
          </div>
        </div>

        <div class="span2 price">
          <span><%= set_currency(publication.info[:currency]) %></span>
          <span><%= publication.info[:price] %></span>
        </div>

      </div>
    <% end %>
</div>