<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name='title' content='Clasificados Gratis en Chubut | Chubut Clasificados' />
    <meta name="keywords" content="chubut clasificados, chubut, clasificados, clasificados chubut, clasificados en chubut, compra venta chubut, gratis, avisos gratis, clasificados gratis, anuncios gratis, avisos, anuncios, anuncios en chubut, clasificados en trelew, clasificados en puerto madryn, puerto madryn, comodoro rivadavia, playa union">
    <meta name="description" content="chubut clasificados gratis anuncios avisos compra venta, donde comprar y vender en chubut, Portal de anuncios clasificados gratis en Puerto Madryn, Trelew, Gaiman, Rawson, Playa Unión, Dolavon, Puerto Pirámides. Alquileres temporarios, ventas, compras, turismo, viajes y turismo, cursos y talleres, inmuebles, automotores, empleo, servicios, terrenos, vehiculos, automóviles, vehiculos y accesorios.">
    <META name="robots" content="INDEX,FOLLOW">
    <meta name='googleBot' content='index, follow' />

    <title><%= content_for?(:title) ? yield(:title) : "Clasificadoschubut" %></title>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>



    <div class="container">
      <div class="header">
        <%= render :partial => "layouts/header" %>
        <%= yield :search_criteria %>
        <%= bootstrap_flash %>
      </div>

      <div class="content">
        <div class="row">
          <div class="span3">
            <%= yield :left_column %>
          </div>
          <div class="span9">
            <%= yield %>
          </div><!--/span-->
        </div><!--/row-->
      </div>

    </div> <!-- /container -->

    <footer>
      <%= render :partial => "shared/footer" %>
    </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.lazyload" %>
    <%= javascript_include_tag "jquery-cycle.js" %>

  </body>
</html>
